.form__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: -19px;

  @media (min-width: 1068px) {
    font-size: 56px;
    line-height: 68px;
  }
}

.form__comment {
  font-size: 15px;
  line-height: 18px;
  padding: 24px;
  padding-right: 56px;
  background: $input-gray;
  box-shadow: 0 10px 20px $shadow;
  display: inline-block;
  max-width: 728px;
  
  @media (min-width: 1270px) {
    position: absolute;
    display: block;
    width: 356px;
    height: 102px;
    padding: 24px;
    top: 133px;
    left: 913px;
    font-size: 15px;
    line-height: 18px;
    box-sizing: border-box;
  }
  
}
