.page__body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: $font-color;
  background-color: $background;
  margin: 0;
  padding: 0;
}
