// Colors

$background: #343539;
$font-color: #ffffff;
$accent-color: #ef483e;
$placeholder-color: #cfcfcf;
$button-color: #717174;
$input-gray: #4b4b4f;
$gradient-gray: #c4c4c4;
$gradient-opacity: rgba(196, 196, 196, 0);
$black: #000000;
$shadow: rgba(0, 0, 0, 0.1);
$opacity: rgba(0, 0, 0, 0);

// Mixin  
@mixin linear-gradient {
  color: $gradient-gray;
  background: linear-gradient(90deg, $gradient-gray, $gradient-opacity 84.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
